#page.site
  %header#masthead.site-header{:role => 'banner'}
    HEADER
  %main#main.site-main{:role => 'main'}
    MAIN CONTENT AREA  
  %aside#secondary.widget-area{:role => 'complementary'}
    WIDGET AREA  
  %footer#colophon.site-footer{:role => 'contentinfo'}
    FOOTER
